{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bigelow Portal - Login{% endblock %}

{% block page_content %}
<div>
    <table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
		<tr>
			<td width=50% align='left' valign='bottom'><h3>Login</h3></td>
			<td width=50% align='right' valign='bottom'><h4><a href="{{ url_for('main.faq') }}">Help</a></h4></td>
		</tr>
	</table>
</div>
</br>
<div class="col-md-6">
<form method="post" class="form" role="form">	
	{{ form.csrf_token }}
  
	* Use domain username (<i>without</i> @bigelow.org) and password 
  
	{{ wtf.form_field(form.username, autofocus='autofocus') }}
	{{ wtf.form_field(form.password) }}
	
	{{ wtf.form_field(form.remember_me) }}
	
<input class="btn btn-primary" id="submit" name="submit" type="submit" value="Log In">

</form>
    <br>
    <!-- <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p> -->
<br>
</div>
{% endblock %}
