{% extends "base.html" %}

{% block title %}Bigelow Intranet - Donations{% endblock %}

{% block page_content %}
<div>
    <table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
		<tr>
			<td width=50% align='left' valign='bottom'><h3>Donations</h3></td>
			<td width=50% align='right' valign='bottom'><h4><a href="{{ url_for('main.faq') }}">Help</a></h4></td>
		</tr>
	</table>
</div>
</br>


{% if current_user.is_('OUs','Advancement') or current_user.is_('OUs','IT') %}
<!-- /.row -->
<div class="row">    
    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <b>Donations</b>
            </div>
            <div class="panel-body">
                <div class='table-responsive'>
                    <table class='table tablehover' style='font-size:12px;'>
                        <thead>
                            <tr class='no-hover'>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>First Name</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Last Name</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Address</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Phone</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Amount</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if transactions %}
                            {% for transact in transactions %}
                            <tr>
                                <td>{{ transact.x_first_name }}</td>
                                <td>{{ transact.x_last_name }}</td>
                                <td>{{ transact.x_address }}, {{ transact.x_city }}, {{ transact.x_state }}, {{ transact.x_zip }}</td>
                                <td>{{ transact.x_phone }}</td>
                                <td>${{ transact.x_amount/100 | int }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class='pagination' style='margin:0px; padding:0px'>
                    <ul class="pagination" style='margin:0px; padding:0px'>
                        <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
                        <a href="{% if pagination.has_prev %}?donation_page={{pagination.prev_num}}{% else %}#{% endif %}">
                            &laquo;
                        </a>
                    </li>
                    {% for p in pagination.iter_pages() %}
                    {% if p %}
                    {% if p == pagination.page %}
                    <li class="active">
                        <a href="?donation_page={{p}}">{{ p }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="?donation_page={{p}}">{{ p }}</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="disabled"><a href="#">&hellip;</a></li>
                    {% endif %}
                    {% endfor %}
                    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
                    <a href="{% if pagination.has_next %}?donation_page={{pagination.next_num}}{% else %}#{% endif %}">
                        &raquo;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% else %}
<h1>You do not have permission to view this page.</h1>
<p>Please contact it@bigelow.org if you believe you should have access</p>
{% endif %}    


</br></br>
{% endblock %}
