html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: white;
  margin-left:20px;
  margin-right:20px;
}
form textarea#html {
     width: 100%;
     height: 400px;
     max-height:100vh;
}

.navbar {
  color: #FFF;
  background-color: white;
  border: 0px solid #004d75;
  border-bottom: 3px solid #02A5DD;
/*  height: 25px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
/*  height: 25px;*/
  background-color: #EAF2F6;
}
.container .text-muted {
  margin-top: 2px;
}
* {
  border-radius: 0 !important;
}

.bigelow_logo > img {
    margin-top:5px;
    height:35px;
}

a:focus, 
a:hover { 
	color: #8DB336; 
	text-decoration:none;
}

.navbar .nav > li > a { 
	color: #004d75; 
    padding-top:20px;
    padding-bottom:0px;
    font-size:1.1em;
    font-weight:bold;
} 
/* set hover and focus to lightblue */ 
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover { 
	color: #8DB336; 
}
/* set active item to darkgreen */ 
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus { 
	color: #007FC3; 
} 

/* navbar toggle icon color */
.icon-bar{
	background-color:#EAF2F6;
}
.navbar-toggle{
	color:#004d75; 
	background-color:#004d75; 
	border-color:#004d75;
}

.navbar-header .navbar-toggle:focus {
    background-color: #004d75;
	border-color:#004d75;
}
.navbar-header .navbar-toggle:active {
    background-color: #0087D7;
	border-color:#0087D7;
	color: #004d75;
}
.navbar-header .navbar-toggle:hover{
    background-color: #0087D7;
	border-color:#0087D7;
	color: #004d75;
}

/* shade background of table rows on hover (except for rows with no-hover class) */
.tablehover tr:not(.no-hover):hover {
    background-color: #F0F0F0;
}

.hrule {
  border: 0px solid;
  border-top: 3px solid #004d75;
  padding-bottom: 10px;
}

.glyphicon-none:before {
    content: "\1879";
    color: transparent !important;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
