html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.navbar {
  color: #FFF;
  background-color: #004d75;
  border: 0px solid #004d75;
  border-top: 5px solid #004d75;
  height: 30px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #EAF2F6;
}
.container .text-muted {
  margin: 2px 0;
}
* {
  border-radius: 0 !important;
}
.navbar .nav > li > a { 
    padding-top: 6px;
	color: white; 
} 

/* set hover and focus to lightblue */ 
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover { 
	color: white; 
}
/* set active item to darkgreen */ 
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus { 
	color: white; 
} 

/* navbar toggle icon color */
.icon-bar{
	background-color:#EAF2F6;
}
.navbar-toggle{
	color:#004d75; 
	background-color:#004d75; 
	border-color:#004d75;
}

.navbar-header .navbar-toggle:focus {
    background-color: #004d75;
	border-color:#004d75;
}
.navbar-header .navbar-toggle:active {
    background-color: #0087D7;
	border-color:#0087D7;
	color: #004d75;
}
.navbar-header .navbar-toggle:hover{
    background-color: #0087D7;
	border-color:#0087D7;
	color: #004d75;
}

/* shade background of table rows on hover (except for rows with no-hover class) */
.tablehover tr:not(.no-hover):hover {
    background-color: #F0F0F0;
}

.hrule {
  border: 0px solid;
  border-top: 3px solid #004d75;
  padding-bottom: 10px;
}

.glyphicon-none:before {
    content: "\1879";
    color: transparent !important;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
