{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bigelow Portal - Training{% endblock %}

{% block page_content %}

<div class="page-header">
	<h3>Create a new course</h3> 
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                              PAGE CONTENT                             -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
{% if form %}
    {{ wtf.quick_form(form) }}
{% endif %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                            END PAGE CONTENT                           -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

{% endblock %}