{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bigelow Portal - Training{% endblock %}

{% block page_content %}

<div class="page-header">
	<h3>{% if editTitle %}
                {{ wtf.quick_form(editCourseName) }}
            {% else %}
                {{course.name}}  &nbsp;
                <a href="{{url_for('training.contents', cid=course.id, edit=1)}}" data-toggle="tooltip" title="Edit Name"><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></a>
            {% endif %}
          <a href="{{url_for('training.index', cid=course.id)}}" data-toggle="tooltip" title="Copy Link" class="pull-right"><span class='glyphicon glyphicon-link' aria-hidden='true'></span></a>
          
          </h3> 
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <b>Course Content</b>
        <span class='pull-right'>
            <!-- Trigger the modal with a button -->
            <a data-toggle="modal" data-target="#delete"><span class='glyphicon glyphicon-trash' aria-hidden='true'></a> &nbsp;&nbsp;

            <!-- Modal -->
            <div class="modal fade" id="delete" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content" style='color: darkred; background-color: #FFFFFF;'>
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Are you sure you want to delete this course: <b>{{course.name}}</b>?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please type the name of the course below to confirm. Deleting this course cannot be undone.</p>
                        <b><p id='delete-course-error'></p></b>
                    </div>
                    <div class="modal-footer">
                        <input id='confirm-delete' name='confirm-delete' type="text" class='pull-left col-sm-6'></input>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="delete_course()">Delete Course</button>
                        <!-- <a href="{{ url_for('training.delete_course', cid=course.id) }}" class="btn btn-danger">Delete Course</a> -->
                    </div>
                  </div>
  
                </div>
            </div>
            <a href="{{url_for('training.upload')}}" data-toggle="tooltip" title="Upload Images"><span class='glyphicon glyphicon-upload' aria-hidden='true'></span></a> &nbsp;&nbsp;
            <a href="{{url_for('training.new_page', cid=course.id)}}" data-toggle="tooltip" title="Add Page"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a>
        </span>
    </div>
    <div class="panel-body">
        <div class='table-responsive'>
            <table class='table tablehover' style='font-size:12px;'>
                <thead>
                    <tr class='no-hover'>

                        <td style='vertical-align: bottom;' class='col-sm-1'>
                            <b>Title</b>
                        </td>

                        <td style='vertical-align: bottom;' class='col-sm-1'>
                            <b>Score</b>
                        </td>

                        <td style='vertical-align: bottom;' class='col-sm-1'>
                            <b>Timer</b>
                        </td>

                        <td style='vertical-align: bottom;' class='col-sm-1'>
                            <b>Actions</b>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% if courseContent %}
                    {% for course_c in courseContent %}
                    <tr class='clickable-row' data-href="{{url_for('training.edit', cid=course_c.course_id, loc=course_c.location)}}">
                        <td>
                            {{ course_c.title}}
                        </td>
                        <td>
                            {% if course_c.score %}
                                {{(course_c.score / course_c.total * 100) | round | int }}%
                            {% endif %}
                        </td>
                        <td>
                            {{ (course_c.seconds / 60) | int }}:{{ (course_c.seconds % 60) | int }}
                        </td>
                        <td>
                            {% if course_c.location != 1 %}
                                <a href="{{url_for('training.move_page', cid=course_c.course_id, loc=course_c.location, dir='up')}}"><span class='glyphicon glyphicon-triangle-top' aria-hidden='true'></span></a>&nbsp;&nbsp;
                            {% else %}
                                <span class='glyphicon glyphicon-blank' aria-hidden='true'></span>&nbsp;&nbsp;
                            {% endif %}
                            {% if course_c.location != courseContentLength %}
                                <a href="{{url_for('training.move_page', cid=course_c.course_id, loc=course_c.location, dir='down')}}"><span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true'></span></a>&nbsp;&nbsp;
                            {% else %}
                                <span class='glyphicon glyphicon-blank' aria-hidden='true'></span>&nbsp;&nbsp;
                            {% endif %}
                            <a href="{{url_for('training.edit', cid=course_c.course_id, loc=course_c.location, edit=1)}}"><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<script type="text/javascript">
function delete_course() {
    if ( $('#confirm-delete').val() == "{{course.name}}" ){
        location.href="{{ url_for('training.delete_course', cid=course.id) }}";
    }
    else {
        $('#delete-course-error').text('Please make sure that the course name you typed matches (case sensitive) the course name: {{course.name}}');
    }
}

</script>


{% endblock %}
