{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bigelow Portal - Training{% endblock %}

{% block page_content %}

<style type="text/css" media="screen">
.correct {
    color: green;
}
.wrong {
    color: darkred;
}

</style>


<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>

tinymce.init({
    selector: 'textarea',
    extended_valid_elements : "button[*],img[*]",
    menubar: 'edit insert view format table',
    toolbar: 'save undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent up_img img quiz questA questB questC questD questT questF code',
    plugins: 'code',
    
    
    setup : function(ed) {
            // Add a custom button
            ed.addButton('quiz', {
                title : 'Quiz',
                text: 'Empty Quiz',
                icon: false,
                onclick : function() {
                    // Generate a random number to seperate questions
                    rand = Math.floor(Math.random() * 1000000)
                    // Add you own code to execute something on click
                    ed.focus();
                    ed.selection.setContent(""+
"<form name='quiz1' id='quiz1' class='form'>" +
"<span class='hidden'>BEGIN QUIZ FORM</span><br><br>" +

"<br><span class='hidden'>END QUIZ FORM</span>" +
"</form>"

                    );
                }
            });
            // Add a custom button
            ed.addButton('questA', {
                title : 'Question A',
                text: 'q(A)',
                icon: false,
                onclick : function() {
                    // Generate a random number to seperate questions
                    rand = Math.floor(Math.random() * 1000000)
                    // Add you own code to execute something on click
                    ed.focus();
                    ed.selection.setContent("    <b>Why is IT security training important?</b> <br>" +
"    <div class='form-group'>" +
"        <input name='q" + rand + "' type='radio' class='q' value='1'/> Correct Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <div id='q" + rand + "-correct' class='hidden correct'>Correct!</div>" +
"        <div id='q" + rand + "-wrong' class='hidden wrong'>Wrong. Please use the material above to answer the question correctly.</div>" +
"    </div>"

                    );
                }
            });
            // Add a custom button
            ed.addButton('questB', {
                title : 'Question B',
                text: 'q(B)',
                icon: false,
                onclick : function() {
                    // Generate a random number to seperate questions
                    rand = Math.floor(Math.random() * 1000000)
                    // Add you own code to execute something on click
                    ed.focus();
                    ed.selection.setContent("    <b>Why is IT security training important?</b> <br>" +
"    <div class='form-group'>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2'/> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='1' /> Correct Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <div id='q" + rand + "-correct' class='hidden correct'>Correct!</div>" +
"        <div id='q" + rand + "-wrong' class='hidden wrong'>Wrong. Please use the material above to answer the question correctly.</div>" +
"    </div>"

                    );
                }
            });
            // Add a custom button
            ed.addButton('questC', {
                title : 'Question C',
                text: 'q(C)',
                icon: false,
                onclick : function() {
                    // Generate a random number to seperate questions
                    rand = Math.floor(Math.random() * 1000000)
                    // Add you own code to execute something on click
                    ed.focus();
                    ed.selection.setContent("    <b>Why is IT security training important?</b> <br>" +
"    <div class='form-group'>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2'/> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='1' /> Correct Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <div id='q" + rand + "-correct' class='hidden correct'>Correct!</div>" +
"        <div id='q" + rand + "-wrong' class='hidden wrong'>Wrong. Please use the material above to answer the question correctly.</div>" +
"    </div>"

                    );
                }
            });
            // Add a custom button
            ed.addButton('questD', {
                title : 'Question D',
                text: 'q(D)',
                icon: false,
                onclick : function() {
                    // Generate a random number to seperate questions
                    rand = Math.floor(Math.random() * 1000000)
                    // Add you own code to execute something on click
                    ed.focus();
                    ed.selection.setContent("    <b>Why is IT security training important?</b> <br>" +
"    <div class='form-group'>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2'/> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2' /> Answer <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='1' /> Correct Answer <br>" +
"        <div id='q" + rand + "-correct' class='hidden correct'>Correct!</div>" +
"        <div id='q" + rand + "-wrong' class='hidden wrong'>Wrong. Please use the material above to answer the question correctly.</div>" +
"    </div>"

                    );
                }
            });
            // Add a custom button
            ed.addButton('questT', {
                title : 'Question T',
                text: 'q(T)',
                icon: false,
                onclick : function() {
                    // Generate a random number to seperate questions
                    rand = Math.floor(Math.random() * 1000000)
                    // Add you own code to execute something on click
                    ed.focus();
                    ed.selection.setContent("    <b>TRUE or False?</b> <br>" +
"    <div class='form-group'>" +
"        <input name='q" + rand + "' type='radio' class='q' value='1' /> True <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2'/> False <br>" +
"        <div id='q" + rand + "-correct' class='hidden correct'>Correct!</div>" +
"        <div id='q" + rand + "-wrong' class='hidden wrong'>Wrong. Please use the material above to answer the question correctly.</div>" +
"    </div>"

                    );
                }
            });
            // Add a custom button
            ed.addButton('questF', {
                title : 'Question F',
                text: 'q(F)',
                icon: false,
                onclick : function() {
                    // Generate a random number to seperate questions
                    rand = Math.floor(Math.random() * 1000000)
                    // Add you own code to execute something on click
                    ed.focus();
                    ed.selection.setContent("    <b>True or FALSE?</b> <br>" +
"    <div class='form-group'>" +
"        <input name='q" + rand + "' type='radio' class='q' value='2'/> True <br>" +
"        <input name='q" + rand + "' type='radio' class='q' value='1' /> False <br>" +
"        <div id='q" + rand + "-correct' class='hidden correct'>Correct!</div>" +
"        <div id='q" + rand + "-wrong' class='hidden wrong'>Wrong. Please use the material above to answer the question correctly.</div>" +
"    </div>"

                    );
                }
            });
            // Add a custom button
            ed.addButton('img', {
                title : 'Image',
                text: 'Image',
                icon: false,
                onclick : function() {
                    // Add you own code to execute something on click
                    image_src = "";
                    $("img").css({"border": "none", "padding":"4px"});
                    $('#myModal').modal();
                    $('#myModal').on('hide.bs.modal', function (e) {
                        if (document.activeElement.id=="add_img" & image_src != ""){
                            ed.focus();
                            ed.selection.setContent("<img src='" + image_src + "' width='" + image_size + "'><br>");
                        }
                        $(this).off('hide.bs.modal');
                    });
                    
                }
            });
            // Add a custom button
            ed.addButton('up_img', {
                title : 'Upload',
                text: 'Upload',
                icon: false,
                onclick : function() {
                  window.open('upload');
                }
            });
        }
});
</script>


{% if edit and current_user.is_name('CREATE') and edit %}
<form method="post"
  class="form" role="form">
      {{ form.csrf_token }}  
{% endif %}

<div class="page-header">
	<h3>
        {% if current_user.is_name('CREATE') and edit %}
            {{ wtf.form_field(form.title) }} {{ wtf.form_field(form.seconds) }}
        {% else %}
            {{courseContent.course.name}}: {{courseContent.title}}
        {% endif %}
    </h3> 
    
    {% if current_user.is_name('CREATE') and not edit %}
        <span class='pull-right'>
            <a href="contents?cid={{course.id}}" class="btn btn-default">Course Overview</a>
            
            <a href="?cid={{course.id}}&loc={{location}}&edit=1" class="btn btn-warning">Edit</a>
        </span>
    {% elif current_user.is_name('CREATE') and edit %}
        <span class='pull-right'>
            {{ wtf.form_field(form.submit, button_map={'submit': 'success'}) }}
            <a href="?cid={{course.id}}&loc={{location}}" class="btn btn-primary">Cancel</a>            
        </span>
    {% endif %}
    
    <div style='font-size:1.8em;'>
        {% set i = 1 %}
        {% for item in range(courseContentLength) %}
            {% if i == location %}
                <span style="color:#5cb85c;" data-toggle="tooltip" title="{{courseContentAll[i-1].title}}">&#9679;</span>
            {% else %}
                <a href='?cid={{course.id}}&loc={{i}}' data-toggle="tooltip" title="{{courseContentAll[i-1].title}}">&#9679;</a>
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
    </div>

</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                              PAGE CONTENT                             -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
{% if edit and current_user.is_name('CREATE') %}
    {# {{ wtf.quick_form(form) }} #}
    {{ wtf.form_field(form.html) }}
    </form>
{% else %}
    {{ courseContent.html|safe }}
{% endif %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                            END PAGE CONTENT                           -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


{% if not edit %}
    <!-- navigation -->
    {% if location-1 > 0 %}
        <h3><a href="?cid={{course.id}}&loc={{location - 1}}" class="btn btn-warning col-sm-2">Last</a></h3>
    {% endif %}
        
    {% if location < courseContentLength %}
        <h3><a href="?cid={{course.id}}&loc={{location + 1}}" id='next' class="btn btn-success col-sm-2 pull-right">Next</a></h3>
    {% endif %}
{% else %}
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#delete">Delete</button>

    <!-- Modal -->
    <div class="modal fade" id="delete" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Are you sure you want to delete this page?</h4>
            </div>
            <div class="modal-body">
              <p>Deleting this page cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="{{ url_for('training.delete_course_content', cid=course.id, loc=location) }}" class="btn btn-danger">Delete Page</a>
            </div>
          </div>
  
        </div>
    </div>
    {% if location-1 > 0 %}
        <h3><a href="?cid={{course.id}}&loc={{location - 1}}&edit=1" id='last' class="btn btn-warning col-sm-2">Last</a></h3>
    {% endif %}
        
    {% if location < courseContentLength %}
        <h3><a href="?cid={{course.id}}&loc={{location + 1}}&edit=1" id='next' class="btn btn-success col-sm-2">Next</a></h3>
    {% endif %}
{% endif %} 

<br><br><br>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Click on an image to import it</h4>
      </div>
      <div class="modal-body">
          {% for image in images %}
                  <img src="{{ url_for('static', filename='training/user_images/'+current_user.username+'/'+image) }}" height="100px" style="padding:4px;">
          {% endfor %}
          
          <br><br>
          <div class="btn-group" role="group">
              <button type="button" name="img_size" id="25%" class="btn btn-default">25%</button>
              <button type="button" name="img_size" id="50%" class="btn btn-default">50%</button>
              <button type="button" name="img_size" id="75%" class="btn btn-default">75%</button>
              <button type="button" name="img_size" id="100%" class="btn btn-default">100%</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" id="add_img" data-dismiss="modal">Add Image</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
var image_src = "";
var image_size = "25%";

$("img").click(function () {
    image_src = "";
    image_src = $(this).attr('src');
    $("img").css({"border": "none", 
                 "padding":"4px"});
    $(this).css({"border-color": "#8DB336", 
                 "border-width":"4px", 
                 "border-style":"solid", 
                 "padding":"0px"});
});

$("button[name = 'img_size']").click(function () {
    $("button[name = 'img_size']").removeClass("btn-primary");
    $(this).addClass("btn-primary");
    image_size = $(this).attr('id');
});

$("body").keydown(function(e) {
  if(e.keyCode == 37) //left
    $("#last")[0].click();
  else if(e.keyCode == 39) //right
    if (!$("#next").hasClass("disabled"))
      $("#next")[0].click();
});
</script>

<!-- for debugging only -->
<!-- <div id='debug'></div> -->


<script type="text/javascript">
////////////////////////////////////////////////////////////////////////////////
//  by Kevin Guay on 30 Dec 2015
//  Simple Quiz: Check for understanding
////////////////////////////////////////////////////////////////////////////////
//
//  This web quiz is meant to check the users understanding of the page's content.
//  The first answer that a user clicks is recorded as their final answer, but in
//  the interest of learning, the user is required to click on the correct answer
//  before moving to the next page.
//
////////////////////////////////////////////////////////////////////////////////

// count the number of questions automatically.
var questionCount = $("#quiz1 div").filter(function() {
    return $(this).find('[name^="q"]').length;
}).length;

// reset all buttons when page loads
$('.q').attr('checked',false);

// check if item is in array
function inArray(array, item) {
    if (array.indexOf(item) > -1) {return true;}
    else {return false;}
}

// Keep track of the score and number of questions complete
var score = 0; // number of correct answers on **first try**
// keeps track of which questions have been answered s.t. scores do not increase with multiple clicks of correct answer
answered = []; 
correct = [];

// This code reacts to all 
$(".q").on("click", function () {
    if (this.value == 1) {
        // show "Correct"
        $('#'+this.name+'-wrong').addClass('hidden');
        $('#'+this.name+'-correct').removeClass('hidden');
        
        // if the question is correct and it is the first try, increment the score
        if (!inArray(answered, this.name)){
            score = score + 1;
        }
        // if the question is correct and it is the first try, increment the score
        if (!inArray(correct, this.name)){
            correct.push(this.name);
        }
    }
    else {
        // show "Wrong"
        $('#'+this.name+'-wrong').removeClass('hidden');
        $('#'+this.name+'-correct').addClass('hidden');
        
        // if the question is correct and it is the first try, increment the score
        if (inArray(correct, this.name)){
            correct.pop(this.name);
        }
    }
    
    // add name to done array if it is the first click of the question
    if (!inArray(answered, this.name)){
        answered.push(this.name);
    }
    // if all of the questions have been answered, show the next button
    if (correct.length == questionCount){
        $('#next').removeClass('disabled');
    }
    // optional: hides next button if an answer is changed from correct to wrong
    // else {
    //     $('#next').addClass('disabled');
    // }
    
    // debugging text area
    $('#debug').text("test");
});

</script>

{% endblock %}