{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bigelow Portal - Training{% endblock %}

{% block page_content %}

{{dir}} <br><br>

<ul>
{% for file in files %}
    <li>{{file}}</li>
{% endfor %}
</ul>


  

{% endblock %}