{% extends "base.html" %}

{% block title %}Bigelow Portal - Training{% endblock %}

{% block page_content %}

<style type="text/css" media="screen">
.correct {
    color: green;
}
.wrong {
    color: darkred;
}
</style>


<div class="page-header">
    
	<h3>{{courseContent.course.name}}: {{courseContent.title}}</h3> 
    
    <div style='font-size:1.8em;'>
        {% set i = 1 %}
        {% for item in range(courseContentLength) %}
            {% if item == location-1 %}
                <span style="color:#5cb85c;" data-toggle="tooltip" title="{{courseContentAll[i-1].title}}">&#9679;</span>
                <!-- &#10686; -->
            {% elif item < training.location %}
                <a href='?cid={{course.id}}&loc={{i}}' data-toggle="tooltip" title="{{courseContentAll[i-1].title}}">&#9679;</a>
            {% else %}
                <span style="color:#f0ad4e;" data-toggle="tooltip" title="{{courseContentAll[i-1].title}}">&#9679;</span>
                <!-- &#9675; -->
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
        
        <span class='pull-right'>
            {% if training.score %}
                Score: {{(training.score / training.questions * 100) | round | int }}%
            {% endif %}
        </span>
    </div>

</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                              PAGE CONTENT                             -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
{{ courseContent.html|safe }}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                            END PAGE CONTENT                           -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->



<!-- navigation -->
{% if location-1 > 0 %}
    <h3><a href="?cid={{course.id}}&loc={{location - 1}}" id="last" class="btn btn-warning col-sm-2">Last</a></h3>
{% endif %}
    
{% if location == courseContentLength and training.location == courseContentLength %}
    <h3><button id='finish' class="btn btn-success col-sm-2 pull-right">Finish</button></h3>
{% elif location == courseContentLength and training.status>1 %}
    <h3></h3>
{% elif training.location == location %}
    <h3><button onclick="" id='next' class="btn btn-success col-sm-2 pull-right disabled">Next</button></h3>
{% elif location < training.location %}
    <h3><a href="?cid={{course.id}}&loc={{location + 1}}" id='next' class="btn btn-success col-sm-2 pull-right ">Next</a></h3>
    <!-- <h3><button id='next' class="btn btn-success col-sm-2 pull-right disabled">Next</button></h3> -->
{% else %}
    <h3><div class="pull-right ">You have already completed this course.</div></h3>
{% endif %}


<br><br><br>

<div id='score' class='hidden'></div>

<!-- for debugging only -->
<!-- <div id='debug'></div> -->

<div id="timer"></div>

<div class="hidden">
  <div id="video-controls" style="max-width:1280px;">
    <button class="btn btn-default pull-left" onclick="playPause()" id="playpause">Pause</button>
    <h4 id="countdown" class="pull-right"></h4>
  </div>
  
  <form method="post" class="form" role="form" name="score_form" id="score_form">
    <input name='score' id='form_score' value='0'>
    <input name='questions' id='form_questions' value='0'>
    <input name='loc' id='form_loc' value='{{location}}'>
    <input type='submit' value="Submit Score">
  </form>
  
</div>

  
<script type="text/javascript">
  function score(){
    alert('submitted');
  }
  
// $('#next').click(function(e) {
//         e.preventDefault();
//
//         var data = {};
//         // var Form = this;
//
//         data['first_name'] = "Kelvin";
//         data['last_name'] = "Guay";
//
//         $.ajax({
//             type: 'POST',
//             url: '/training/?cid={{course.id}}&loc={{location + 1}}',
//             dataType: 'json',
//             contentType: 'application/json; charset=utf-8',
//             data: JSON.stringify(data),
//           success: function() {
//                 alert('callback');
//                 // Watch out for Cross Site Scripting security issues when setting dynamic content!
//                 $("html").html('Hello World!');
//             },
//             error: function() {
//                 $("html").html("error!");
//             }
//         });
//     });
</script>

<script type="text/javascript">
if (!("{{location}}" < "{{training.location}}") && "{{courseContent.seconds}}" > 0){
    var timer = setInterval(counter, 1000);
    var time = "{{courseContent.seconds}}";
    counter()
}
else{
    time_done = true;
}


function counter() {
    time--;
    
    minutes = parseInt(time / 60, 10);
    seconds = parseInt(time % 60, 10);
    if (seconds < 10)
        seconds = "0"+seconds;    
    if (minutes < 10)
        minutes = "0"+minutes;    
    
    $('#next').text("Remaining: " + minutes + ":" + seconds);
    
    
    
    if (time <= 0){
        time_done = true;
        $('#next').text("Next")
        
        clearInterval(timer);

        $('#timer_icon').hide();
        if ( (questionCount < 1 || correct.length == questionCount) && time_done){
            $('#next').removeClass('disabled');
        }
    }
}

$("body").keydown(function(e) {
  if(e.keyCode == 37) //left
    $("#last")[0].click();
  else if(e.keyCode == 39) //right
    if (!$("#next").hasClass("disabled"))
      $("#next")[0].click();
});
</script>

<!-- Videos -->
<script> 
var myVideo = document.getElementById("video1"); 

$("#video1").on("click", function () {
  playPause();
});

function playPause() { 
    if (myVideo.paused){
        myVideo.play(); 
        $('#playpause').html('Pause');
    }
    else {
        myVideo.pause(); 
        $('#playpause').html('Play');
    }
} 

function makeBig() { 
  if (myVideo.requestFullscreen) {
    myVideo.requestFullscreen();
  } else if (myVideo.msRequestFullscreen) {
    myVideo.msRequestFullscreen();
  } else if (myVideo.mozRequestFullScreen) {
    myVideo.mozRequestFullScreen();
  } else if (myVideo.webkitRequestFullscreen) {
    myVideo.webkitRequestFullscreen();
  }
} 

function makeSmall() { 
    myVideo.width = 320; 
} 

function makeNormal() { 
    myVideo.width = 420; 
} 



var video = document.getElementById('video1');
video.addEventListener('timeupdate', updateCountdown);



function updateCountdown() {
  // Total time
  var h_duration = parseInt(video.duration/60,10);
  var s_duration = parseInt(video.duration,10)-(h_duration*60);
  h_duration = ("0" + h_duration).slice(-2);
  s_duration = ("0" + s_duration).slice(-2);
  // Time left
  var h_left = parseInt((video.duration - video.currentTime)/60,10);
  var s_left = parseInt((video.duration - video.currentTime),10)-(h_left*60);
  h_left = ("0" + h_left).slice(-2);
  s_left = ("0" + s_left).slice(-2);
  // Time elapsed
  var h_elapsed = parseInt((video.currentTime)/60,10);
  var s_elapsed = parseInt((video.currentTime),10)-(h_elapsed*60);
  h_elapsed = ("0" + h_elapsed).slice(-2);
  s_elapsed = ("0" + s_elapsed).slice(-2);
  $("#countdown").text(h_elapsed + ":" + s_elapsed + " / " + h_duration + ":" + s_duration);
}

$("#video-controls").insertAfter($("video"));
$("video").css("max-width","1280px");

</script>

<script type="text/javascript">
////////////////////////////////////////////////////////////////////////////////
//  by Kevin Guay on 30 Dec 2015
//  Simple Quiz: Check for understanding
////////////////////////////////////////////////////////////////////////////////
//
//  This web quiz is meant to check the users understanding of the page's content.
//  The first answer that a user clicks is recorded as their final answer, but in
//  the interest of learning, the user is required to click on the correct answer
//  before moving to the next page.
//
////////////////////////////////////////////////////////////////////////////////

// count the number of questions automatically.
var questionCount = $("#quiz1 div").filter(function() {
    return $(this).find('[name^="q"]').length;
}).length;

// reset all buttons when page loads
$('.q').attr('checked',false);

// check if item is in array
function inArray(array, item) {
    if (array.indexOf(item) > -1) {return true;}
    else {return false;}
}

// Keep track of the score and number of questions complete
var score = 0; // number of correct answers on **first try**
// keeps track of which questions have been answered s.t. scores do not increase with multiple clicks of correct answer
var answered = [];
var correct = [];
var timer = false;
var video_done = false;

// Check if there is a video
if(!$('#video1').length) {
  video_done = true;
}

// if there are no questions OR the user is past this page, enable the next button.
if ((questionCount == 0 && time_done && video_done) || "{{location}}" < "{{training.location}}"){
    $('#next').removeClass('disabled');
}

// NEXT
$("#next").on("click", function () {
  
  if (questionCount != 0 && {{training.location}}=={{location}}){
    // fill in values for score
    $('#form_score').val(score);
    $('#form_questions').val(questionCount);
    $('#form_loc').val({{location + 1}});
  }
  else{
    // fill in values for score
    $('#form_score').val(0);
    $('#form_questions').val(0);
    $('#form_loc').val({{location + 1}});
  }

  // submit
  $('#score_form').submit();
});

// FINISH
$("#finish").on("click", function () {
  if (questionCount != 0){
    // fill in values for score
    $('#form_score').val(score);
    $('#form_questions').val(questionCount);
    $('#form_loc').val({{location + 1}});
  }
  else{
    // fill in values for score
    $('#form_score').val(0);
    $('#form_questions').val(0);
    $('#form_loc').val({{location + 1}});
  }

  // submit
  $('#score_form').submit();
});

// This code reacts to all 
$(".q").on("click", function () {
    if (this.value == 1) {
        // show "Correct"
        $('#'+this.name+'-wrong').addClass('hidden');
        $('#'+this.name+'-correct').removeClass('hidden');
        
        // if the question is correct and it is the first try, increment the score
        if (!inArray(answered, this.name)){
            score = score + 1;
        }
        // if the question is correct and it is the first try, increment the score
        if (!inArray(correct, this.name)){
            correct.push(this.name);
        }
    }
    else {
        // show "Wrong"
        $('#'+this.name+'-wrong').removeClass('hidden');
        $('#'+this.name+'-correct').addClass('hidden');
        
        // if the question is correct and it is the first try, increment the score
        if (inArray(correct, this.name)){
            correct.pop(this.name);
        }
    }
    
    // add name to done array if it is the first click of the question
    if (!inArray(answered, this.name)){
        answered.push(this.name);
    }
    // if all of the questions have been answered, show the next button
    if (correct.length == questionCount && time_done && video_done){
        $('#next').removeClass('disabled');
    }
    // optional: hides next button if an answer is changed from correct to wrong
    // else {
    //     $('#next').addClass('disabled');
    // }
    
    // debugging text area
    $('#debug').text("test");
    
    $('#next').innerHTML = correct;
});
// alert when the video finishes
document.getElementById('video1').addEventListener('ended',myHandler,false);
function myHandler(e) {
  video_done = true;
  if (correct.length == questionCount && time_done && video_done){
      $('#next').removeClass('disabled');
  }
}
</script>


{% endblock %}
