{% extends "base.html" %}

{% block title %}Bigelow Portal - Admin{% endblock %}

{% block page_content %}

<div>
  <h3>Course Info
    <a href="{{url_for('training.index', cid=course_id)}}" data-toggle="tooltip" title="View Course" class="pull-right"><span class='glyphicon glyphicon-link' aria-hidden='true'></span></a>
    <a href="{{ url_for('training.contents', cid=course_id) }}" data-toggle="tooltip" title="Edit" class='pull-right'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span>&nbsp;&nbsp;</a>
  </h3>
</div>
</br>

<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>Training</b>
            </div>
            <div class="panel-body">
                <div class='table-responsive'>
                    <table class='table tablehover' style='font-size:12px;'>
                        <thead>
                            <tr class='no-hover'>
                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Employee</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Course</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Year</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Status</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Location</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Score</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if training %}
                            {% for train in training %}
                            <tr>
                                <td><a href="{{url_for('main.user', uid=train.user.id)}}">{{ train.user.full_name }}</a></td>
                                <td>{{ train.course.name }}</td>
                                <td>{{train.year}}</td>
                                <td>
                                    {% if train.status == 0 %}
                                    <span style="color:#cccccc;">NOT STARTED</span>
                                    {% elif train.status == 1 %}
                                    <span style="color:#f0ad4e;">IN PROGRESS - {{(train.location / train.course.length() * 100) | round | int }}%</span>
                                    {% elif train.status == 2 %}
                                    <span style="color:#5cb85c;">COMPLETE</span>
                                    {% elif train.status == 3 %}
                                    <span style="color:#5bc0de;">OVERRIDE</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- if status is none, complete, or override -->
                                    {% if train.status == 0 or train.status == 2 or train.status == 3 %}
                                    --
                                    {% else %}
                                    {{train.location}} of {{train.course.length() }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if train.score %}
                                        {{(train.score / train.questions * 100) | round | int }}%
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% if missing %}
  {% for user in missing %}
    {{ user.id }}
  {% endfor %}
{% endif %}

<!-- <div class='table-responsive'>
<ul>
{% for course in course_info: %}
<li><a href="{{course.url}}">{{course.name}} ({{course.updated}})</a> </li>
{% endfor %}
</ul>
</div> -->


</br></br>
{% endblock %}
