{% extends "base.html" %}

{% block title %}Bigelow Portal - Training{% endblock %}

{% block page_content %}

<h3>val={{val}}</h3>

<button onclick="done()" id='next'>Next</button>

<script type="text/javascript">
function done() {
  // $.post(u);
  // alert(u);
  $.ajax({
          type: 'POST',
          contentType: "application/json",
          url: 'test',
          data: { 'status' : '1' , 'message' : '2' },
          dataType: "json"
      }).done(function () {
          window.location.href = 'test';
      });
  
}
</script>

{% endblock %}