{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block page_content %}
<div>
    <table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
		<tr>
			<td width=50% align='left' valign='bottom'><h3>Oh No!</h3></td>
			<td width=50% align='right' valign='bottom'><h4><a href="{{ url_for('main.faq') }}">FAQ</a></h4></td>
		</tr>
	</table>
</div>
	 <p>We can not load the page that you requested. Please check the website address or click on a link above.</p>
	 <p>Contact the webmaster for more information.</p>
	 
{% endblock %}
