{% extends "base.html" %}

{% block title %}Bigelow Portal - Admin{% endblock %}

{% block page_content %}

<div>
    <table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
        <tr>
            <td width=50% align='left' valign='bottom'><h3>Admin Dashboard</h3></td>
            <td width=50% align='right' valign='bottom'><h4><a href="{{ url_for('main.faq') }}">Help</a></h4></td>
        </tr>
    </table>
</div>
</br>

<!-- /.row -->
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>Training</b>
            </div>
            <div class="panel-body">
                <div class='table-responsive'>
                    <table class='table tablehover' style='font-size:12px;'>
                        <thead>
                            <tr class='no-hover'>
                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Employee</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Course</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Year</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Status</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Location</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Score</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if training %}
                            {% for train in training %}
                            <tr>
                                <td><a href="{{url_for('main.user', uid=train.user.id)}}">{{ train.user.full_name }}</a></td>
                                <td><a href="{{url_for('training.overview', cid=train.course.id)}}">{{ train.course.name }}</a></td>
                                <td>{{train.year}}</td>
                                <td>
                                    {% if train.status == 0 %}
                                    <span style="color:#cccccc;">NOT STARTED</span>
                                    {% elif train.status == 1 %}
                                    <span style="color:#f0ad4e;">IN PROGRESS - {{(train.location / train.course.length() * 100) | round | int }}%</span>
                                    {% elif train.status == 2 %}
                                    <span style="color:#5cb85c;">COMPLETE</span>
                                    {% elif train.status == 3 %}
                                    <span style="color:#5bc0de;">OVERRIDE</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- if status is none, complete, or override -->
                                    {% if train.status == 0 or train.status == 2 or train.status == 3 %}
                                    --
                                    {% else %}
                                    {{train.location}} of {{train.course.length() }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if train.score %}
                                        {{(train.score / train.questions * 100) | round | int }}%
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>Courses</b>
                <span class='pull-right'>
                    <a href="{{url_for('training.course_from_images')}}" data-toggle="tooltip" title="New Course from Images"><span class='glyphicon glyphicon-picture' aria-hidden='true'></span></a> &nbsp;
                    <a href="{{url_for('training.new_course')}}" data-toggle="tooltip" title="New Course"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a>
                </span>
            </div>
            <div class="panel-body">
                <div class='table-responsive'>
                    <table class='table tablehover' style='font-size:12px;'>
                        <thead>
                            <tr class='no-hover'>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Course</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Author</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Required</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Links</b>
                                </td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if courses %}
                            {% for course in courses %}
                            <tr class='clickable-row' data-href="{{url_for('training.contents')}}?cid={{ course.id }}">
                                <td>{{ course.name }}</td>
                                <td>{{ course.user.username }}</td>
                                <td>
                                    {% if course.required == 0 %}
                                    <span style="color:#5bc0de;">OPTIONAL</span>
                                    {% elif course.required == 1 %}
                                    <span style="color:#d9534f;">REQUIRED</span>
                                    {% endif %}
                                </td>
                                <td>
                                  <a href="{{url_for('training.overview', cid=course.id)}}"><span class='glyphicon glyphicon-list-alt' aria-hidden='true'></span></a>
                                  <a href="{{url_for('training.index', cid=course.id)}}"><span class='glyphicon glyphicon-blackboard' aria-hidden='true'></span></a>
                                  <a href="{{url_for('training.contents', cid=course.id)}}"><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 hidden">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>Workshops</b>
                <span class='pull-right'>
                    <a href="{{url_for('training.course_from_images')}}" data-toggle="tooltip" title="New Course from Images"><span class='glyphicon glyphicon-picture' aria-hidden='true'></span></a> &nbsp;
                    <a href="{{url_for('training.new_course')}}" data-toggle="tooltip" title="New Course"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a>
                </span>
            </div>
            <div class="panel-body">
                <div class='table-responsive'>
                    <table class='table tablehover' style='font-size:12px;'>
                        <thead>
                            <tr class='no-hover'>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Course</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Author</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Required</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if courses %}
                            {% for course in courses %}
                            <tr  class='clickable-row' data-href="{{url_for('training.contents')}}?cid={{ course.id }}">
                                <td>{{ course.name }}</td>
                                <td>{{ course.user.username }}</td>
                                <td>
                                    {% if course.required == 0 %}
                                    <span style="color:#5bc0de;">OPTIONAL</span>
                                    {% elif course.required == 1 %}
                                    <span style="color:#d9534f;">REQUIRED</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <b>Actions</b>
                <span class='pull-right'>
                    <a href="#edit"><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></a> &nbsp;&nbsp;
                    <a href="#add"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a>
                </span>
            </div>
            <div class="panel-body">
                <ul>
                    <li><a href="{{url_for('auth.ad_sync')}}">sync with AD</li>
                </ul>
            </div>
        </div>
    </div>
        
    <div class="col-md-4 hidden">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <b>Notifications</b>
                <span class='pull-right'>
                    <a href="#edit"><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></a> &nbsp;&nbsp;
                    <a href="#add"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a>
                </span>
            </div>
            <div class="panel-body">
                <ul>
                    <li>2-Step Verification and passphrases are now mandatory</li>
                </ul>
            </div>
        </div>
    </div>
    
</div>

<!-- <div class='table-responsive'>
<ul>
{% for course in course_info: %}
<li><a href="{{course.url}}">{{course.name}} ({{course.updated}})</a> </li>
{% endfor %}
</ul>
</div> -->


</br></br>
{% endblock %}
