{% extends "base.html" %}

{% block title %}Bigelow Portal - Dashboard{% endblock %}

{% block page_content %}
<div>
  <table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
    <tr>
      <td width=50% align='left' valign='bottom'><h3>Dashboard</h3></td>
      <td width=50% align='right' valign='bottom'><h4><a href="{{ url_for('main.faq') }}">Help</a></h4></td>
    </tr>
  </table>
</div>
</br>


<!-- /.row -->
<div class="row">
<div class="col-md-8">
  <div class="panel panel-success">
    <div class="panel-heading">
      <b>Training</b>
    </div>
    <div class="panel-body">
      <div class='table-responsive'>
        <table class='table tablehover' style='font-size:12px;'>
          <thead>
            <tr class='no-hover'>
              <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                <b>Course</b>
              </td>

              <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                <b>Year</b>
              </td>

              <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                <b>Status</b>
              </td>
            </tr>
          </thead>
          <tbody>
            {% if training %}
            {% for train in training %}
            {% if train.status < 2 %}
            <tr class='clickable-row' data-href="{{url_for('training.index')}}?cid={{train.course_id}}">
              {% else %}
              <tr class='clickable-row' data-href="{{url_for('training.index')}}?cid={{train.course_id}}&loc=1">
                {% endif %}
                <td>
                  {{train.course.name}}
                </td>
                <td>
                  {{train.year}}
                </td>
                <td>
                  {% if train.status == 0 %}
                  <span style="color:#cccccc;">NOT STARTED</span>
                  {% elif train.status == 1 %}
                  <span style="color:#f0ad4e;">IN PROGRESS - {{(train.location /train.course.length() * 100) | round | int }}%</span>
                  {% elif train.status == 2 %}
                  <span style="color:#5cb85c;">COMPLETE</span>
                  {% elif train.status == 3 %}
                  <span style="color:#5bc0de;">OVERRIDE</span>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <b>Notifications</b>
      </div>
      <div class="panel-body">
        <ul>
          <li>2-Step Verification and passphrases are now mandatory</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

{% if current_user.is_('OUs','Advancement') or current_user.is_('OUs','IT') %}
<!-- /.row -->
<div class="row">    
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <b><a href="{{ url_for('donations.index') }}">Donations</a></b>
      </div>
      <div class="panel-body">
        <div class="row">    
          <div class="col-md-8">
            <div class='table-responsive'>
              <table class='table tablehover' style='font-size:12px;'>
                <thead>
                  <tr class='no-hover'>

                    <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                      <b>Name (Last, First, MI)</b>
                    </td>

                    <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                      <b>Email</b>
                    </td>

                    <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                      <b>Address</b>
                    </td>

                    <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                      <b>Phone</b>
                    </td>

                    <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                      <b>Amount</b>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  {% if transactions %}
                  {% for transact in transactions %}
                  <tr class='clickable-row' data-href="javascript:onclick=donation_show_info([
                    '{{transact.acknowledgement}}',
                    '{{transact.gift_designation}}',
                    '{{transact.recurring}}',
                    '{{transact.arb_period}}',
                    '{{transact.arb_end_after}}',
                    '{{transact.is_deleted}}',
                    '{{transact.anonymous}}',
                    '{{transact.subscribe}}',
                    '{{transact.gift_designation_type_id}}',
                    '{{transact.gift_dedication_type_id}}',
                    '{{transact.dedication_name}}']);">
                    <td>{{ transact.x_last_name }}, {{ transact.x_first_name }} {{ transact.x_middle_initial }}</td>
                    <td>{{ transact.x_email }}</td>
                    <td>{{ transact.x_address }}, {{ transact.x_city }}, {{ transact.x_state }}, {{ transact.x_zip }}</td>
                    <td>{{ transact.x_phone }}</td>
                    <td>${{ transact.x_amount/100 | int }}</td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4" id="donation_more_info">
            
          </div>
        </div>
        <div class='pagination' style='margin:0px; padding:0px'>
          <ul class="pagination" style='margin:0px; padding:0px'>
            <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
            <a href="{% if pagination.has_prev %}?donation_page={{pagination.prev_num}}{% else %}#{% endif %}">
              &laquo;
            </a>
          </li>
          {% for p in pagination.iter_pages() %}
          {% if p %}
          {% if p == pagination.page %}
          <li class="active">
            <a href="?donation_page={{p}}">{{ p }}</a>
          </li>
          {% else %}
          <li>
            <a href="?donation_page={{p}}">{{ p }}</a>
          </li>
          {% endif %}
          {% else %}
          <li class="disabled"><a href="#">&hellip;</a></li>
          {% endif %}
          {% endfor %}
          <li{% if not pagination.has_next %} class="disabled"{% endif %}>
          <a href="{% if pagination.has_next %}?donation_page={{pagination.next_num}}{% else %}#{% endif %}">
            &raquo;
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endif %}    


<script type="text/javascript">
function donation_show_info(x) {
  // $('#donation_more_info').html('<ul style="list-style: none;">'+
  //   '<li>Acknowledgement: <b class="pull-right">' + x[0] + '</b></li>' +
  //   '<li>Gift Designation: <b class="pull-right">' + x[1] + '</b></li>' +
  //   '<li>Dedication Name: <b class="pull-right">' + x[10] + '</b></li>' +
  //   '<li>Recurring: <b class="pull-right">' + x[2] + '</b></li>' +
  //   '<li>Recurring (period): <b class="pull-right">' + x[3] + '</b></li>' +
  //   '<li>Deleted: <b class="pull-right">' + x[5] + '</b></li>' +
  //   '<li>Anonymous: <b class="pull-right">' + x[6] + '</b></li>' +
  //   '<li>Subscribe: <b class="pull-right">' + x[7] + '</b></li>' +
  //   // '<li>gift_designation_type_id: ' + x[8] + '</li>' +
  //   // '<li>gift_dedication_type_id: ' + x[9] + '</li>' +
  //   '</ul>'
  // );
  
  $('#donation_more_info').html('<ul style="list-style: none;">');
  $('#donation_more_info').append('<li>Acknowledgement: <b class="pull-right">' + x[0] + '</b></li>');
  $('#donation_more_info').append('<li>Gift Designation: <b class="pull-right">' + x[1] + '</b></li>');
  $('#donation_more_info').append('<li>Dedication Name: <b class="pull-right">' + x[10] + '</b></li>');
  
  if(x[2]=="True"){
    $('#donation_more_info').append('<li class="bg-success">Recurring (period: ' + x[3] + ')</li>');
  }else{
    $('#donation_more_info').append('<li class="bg-danger">Recurring</li>');
  }
  
  if(x[5]=="True"){
    $('#donation_more_info').append('<li class="bg-success">Deleted</li>');
  }else{
    $('#donation_more_info').append('<li class="bg-danger">Deleted</li>');
  }
  
  if(x[6]=="True"){
    $('#donation_more_info').append('<li class="bg-success">Anonymous</li>');
  }else{
    $('#donation_more_info').append('<li class="bg-danger">Anonymous</li>');
  }
  
  if(x[7]=="True"){
    $('#donation_more_info').append('<li class="bg-success">Subscribe</li>');
  }else{
    $('#donation_more_info').append('<li class="bg-danger">Subscribe</li>');
  }
  
  $('#donation_more_info').append('</ul>');

}
</script>


</br></br>
{% endblock %}
