{% extends "base.html" %}

{% block title %}Bigelow Portal - FAQ{% endblock %}

{% block page_content %}
<div>
    <table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
		<tr>
			<td width=50% align='left' valign='bottom'><h3>Frequently Asked Questions</h3></td>
			{% if current_user.is_authenticated() %}
			<td width=50% align='right' valign='bottom'><h4>You are logged in as {{ current_user.full_name }} ({{ current_user.username }})</h4></td>
			{% else %}
			<td width=50% align='right' valign='bottom'><h4>You are not currently logged in: <a href="{{ url_for('auth.login') }}">Log In</a></h4></td>
			{% endif %}
		</tr>
	</table>
</div>
</br>

<h4>Logging In</h4>
<ul>
    <li><a href="#Which password should I use?">Which password should I use?</a></li>
</ul>

<h4>Course Management</h4>
<ul>
    <li><a href="#Create a new course">Create a new course</a></li>
    <li><a href="#Add a page to a course">Add a page to a course</a></li>
    <li><a href="#Delete a course">Delete a course</a></li>
    <li><a href="#Delete a page from a course">Delete a page from a course</a></li>
</ul>

<hr>

<a name="Which password should I use?"></a><h4>Which password should I use?</h4>
	<p style='padding-left: 22px;'>
		You should use your domain credentials to log in. This is the same set of credentials that you use to log into your Bigelow computer.
	</p>

<hr>

<a name="How do I create a new course"></a><h4>How do I create a new course</h4>
	<p style='padding-left: 22px;'>
		<ol>
            <li>Click on the "Admin" link in the top menu</li>
            <li>Locate the Courses section</li>
            <li>Click on the plus icon <a data-toggle="tooltip" title="New Course"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a></li>
            <li>A new course is created and you are brought to the Course Content page</li>
            <li>See instructions for <i>How do I add a page to a course?</i></li>
        </ol>
	</p>
</br>

<a name="Add a page to a course"></a><h4>Add a page to a course</h4>
	<p style='padding-left: 22px;'>
		<ol>
            <li>Click on the "Admin" link in the top menu</li>
            <li>Locate the Courses section</li>
            <li>Click on the course that you want to add a page to</li>
            <li>Click on the plus icon <a data-toggle="tooltip" title="New Page"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a></li>
            <li>The new course page has been added to the end of the course</li>
            <li>Use the <span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true'></span> and <span class='glyphicon glyphicon-triangle-top' aria-hidden='true'></span> buttons to move the page to a new location in the course</li>
        </ol>
	</p>
</br>

<a name="Delete a course"></a><h4>Delete a course</h4>
    <p style='padding-left: 22px;'>
    	<span class="bg-danger">WARNING: This action can not be undone</span>
        
		<ol>
            <li>Click on the "Admin" link in the top menu</li>
            <li>Locate the Courses section</li>
            <li>Click on the course that you want to add a page to</li>
            <li>Click on the trash icon <a data-toggle="tooltip" title="Delete Course"><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></a></li>
            <li>When prompted, type the name of the course into the text box and click Delete Course</li>
        </ol>
	</p>
</br>

<a name="Delete a page from a course"></a><h4>Delete a page from a course</h4>
	<p style='padding-left: 22px;'>
    	<span class="bg-danger">WARNING: This action can not be undone</span>
        
		<ol>
            <li>Click on the "Admin" link in the top menu</li>
            <li>Locate the Courses section</li>
            <li>Click on the course that you want to delete a page from</li>
            <li>Click on the page that you want to delete</li>
            <li>Click Edit</li>
            <li>Click the Delete button at the bottom of the page</li>
            <li>Click on the Delete button to confirm</li>
        </ol>
	</p>
</br>



</br>

</div>
{% endblock %}
