{% extends "base.html" %}

{% block title %}Bigelow Portal{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated() %}
	<h3>Welcome, {{ current_user.username }}</h3> 
	<a href="{{ url_for('main.new_report') }}">Submit</a><br>
	<a href="{{ url_for('main.review') }}">Review</a><br>
	{% if current_user.is_administrator() %}
	<a href="{{ url_for('main.approve') }}">Approve</a>
	{% endif %}
	{% else %}
	Please <a href="{{ url_for('auth.login') }}">Log In</a>
	{% endif %}
</div>
{% endblock %}
