{% extends "base.html" %}

{% block title %}Bigelow Portal - Welcome{% endblock %}

{% block page_content %}
<div>
    <table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
		<tr>
			<td width=50% align='left' valign='bottom'><h3>Welcome</h3></td>
			<td width=50% align='right' valign='bottom'><h4><a href="{{ url_for('main.faq') }}">FAQ</a></h4></td>
		</tr>
	</table>
</div>
<p>Welcome to this Bigelow web app!</p>
	 
<h4>The following courses have been added for you:</h4>

{% for course in courses: %}
    <li><a href="{{course.url}}">{{course.name}} ({{course.updated}})</a> </li>
{% endfor %}
     
{% endblock %}
