{% extends "base.html" %}

{% block title %}Bigelow Portal - Admin{% endblock %}

{% block page_content %}

<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>Users</b>
            </div>
            <div class="panel-body">
                <div class='table-responsive'>
                    <table class='table tablehover' style='font-size:12px;'>
                        <thead>
                            <tr class='no-hover'>
                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>ID</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Username</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Full Name</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Email</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Manager</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if users %}
                            {% for user in users %}
                            <tr class='clickable-row' data-href="{{url_for('main.user', uid=user.id)}}">
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.full_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                  <a href="{{url_for('main.toggle_manager', uid=user.id)}}">
                                  {% if user.manager == 0 %}
                                    No
                                  {% else %}
                                    Yes
                                  {% endif %}
                                  </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</br></br>
{% endblock %}
