{% extends "base.html" %}

{% block title %}Bigelow Portal - Admin{% endblock %}

{% block page_content %}

<div>
    <table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
        <tr>
            <td width=50% align='left' valign='bottom'><h3>{{user.full_name}} - User Info</h3></td>
            <td width=50% align='right' valign='bottom'><h4><a href="{{ url_for('main.faq') }}">Help</a></h4></td>
        </tr>
    </table>
</div>
</br>

<!-- /.row -->
<div class="row">
    
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>User Info</b>
                <span class="pull-right">id {{user.id}}</span>
            </div>
            <div class="panel-body">
                {{user.full_name}} ({{user.username}}) <br>
                <a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>Member of</b>
            </div>
            <div class="panel-body">
                <div class='table-responsive'>
                    <table class='table tablehover' style='font-size:12px;'>
                        <thead>
                            <tr class='no-hover'>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1'>
                                    <b>Organization</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-3 col-md-3'>
                                    <b>Group</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if groups %}
                            {% for group in groups %}
                            <tr>
                                <td>{{ group[0] }}</td>
                                <td>{{ group[1] }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>


<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>Training</b>
            </div>
            <div class="panel-body">
                <div class='table-responsive'>
                    <table class='table tablehover' style='font-size:12px;'>
                        <thead>
                            <tr class='no-hover'>
                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Employee</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Course</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Year</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Status</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Location</b>
                                </td>

                                <td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
                                    <b>Score</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if training %}
                            {% for train in training %}
                            <tr>
                                <td>{{ train.user.full_name }}</td>
                                <td><a href="?cid={{ train.course_id }}">{{ train.course.name }}</a></td>
                                <td>{{train.year}}</td>
                                <td>
                                    {% if train.status == 0 %}
                                    <span style="color:#cccccc;">NOT STARTED</span>
                                    {% elif train.status == 1 %}
                                    <span style="color:#f0ad4e;">IN PROGRESS - {{(train.location / train.course.length() * 100) | round | int }}%</span>
                                    {% elif train.status == 2 %}
                                    <span style="color:#5cb85c;">COMPLETE</span>
                                    {% elif train.status == 3 %}
                                    <span style="color:#5bc0de;">OVERRIDE</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- if status is none, complete, or override -->
                                    {% if train.status == 0 or train.status == 2 or train.status == 3 %}
                                    --
                                    {% else %}
                                    {{train.location}} of {{train.course.parts }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if train.score %}
                                        {{(train.score / train.questions * 100) | round | int }}%
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class='table-responsive'>
<ul>
{% for course in course_info: %}
<li><a href="{{course.url}}">{{course.name}} ({{course.updated}})</a> </li>
{% endfor %}
</ul>
</div> -->


</br></br>
{% endblock %}
